    <html>
      <head>
        <title> SSL Check </title>
        <link media="all" rel="stylesheet" type="text/css" href="https://sslcheck.globalsign.com/stylesheets/all-ssl-config.css"/>
        <script src="https://sslcheck.globalsign.com/javascripts/jquery-1.7.1.min.js" type="text/javascript"></script>
        <script src="{{ static_url("chat.js") }}" type="text/javascript"></script>
      </head>

      <body class="sub-inner-page">
        <div id="wrapper">
          <div class="sub-inner">
            <div class="sub-inner-w1">
              <div class="sub-inner-w2">
                <div class="sub-inner-w3">
                  <div class="details-block">

                    <a id="server" href="#" class="detail-drawer-tab active">
                      <h3> Server Details </h3>
                    </a>
                    <div style="display: block;" class="detail-drawer server-drawer">
                      <div class="drawer-image-holder">Server Details Icon</div>
                      <div class="drawer-info-holder" id="basic">
                      </div>
                    </div>

                    <a id="cert" href="#" class="detail-drawer-tab active">
                      <h3>Certificate Details</h3>
                    </a>
                    <div style="display: block;" class="detail-drawer certificate-drawer">
                      <div class="drawer-image-holder">Certificate Details Icon</div>
                      <div class="drawer-info-holder" id="certinfo">
                      </div>
                    </div>

                    <a id="chiper" href="#" class="detail-drawer-tab active">
                      <h3>Cipher Suites</h3>
                    </a>
                    <div style="display: block;" class="detail-drawer ssl-drawer">
                      <div class="drawer-image-holder">SSL Configuration Icon</div>
                      <div class="drawer-info-holder" id='ciphers'>
                      </div>
                      <div class="cipher-drawer">
                        <div class="drawer-image-holder">Cipher Suites Icon</div>
                        <div class="drawer-info-holder">
                            <div id="sslv2"></div>
                            <div id="sslv3"></div>
                            <div id="tlsv1"></div>
                            <div id="tlsv1_1"></div>
                            <div id="tlsv1_2"></div>
                        </div>
                      </div>
                    </div>

                    <a id="misc" href="#" class="detail-drawer-tab active">
                      <h3> Miscellaneous Details </h3>
                    </a>
                    <div style="display: block;" class="detail-drawer">
                      <div class="drawer-image-holder">Miscellaneous Details Icon</div>
                      <div class="drawer-info-holder">
                        <div id="reneg"></div>
                        <div id="resum"></div>
                        <div id="compression"></div>
                        <div id="heartbleed"></div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </body>
    </html>
