<!DOCTYPE html>

<html>

<head>
	<meta charset="utf-8" />
	<title>sslyze-web</title>
    <link rel="stylesheet" href="{{ static_url("bootstrap.min.css") }}">

</head>

<body>

<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Home</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">About</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="jumbotron">
        <h1>sslyze-web</h1>
        <p>A website base on sslyze</p> 
        <br>
        <form accept-charset="UTF-8" action="/test" class="form-inline" method="post">
            <div class="form-group col-md-8">
                <input class="form-control" id="url" name="url" placeholder="Please input the website you want to test" type="text">
                <input class="btn btn-large btn-primary" value="Start" type="submit">
            </div>
        </form>
        <br>
    </div>
</div>
</body>

</html>
